.navbar a {
    font-size: 2.5rem;
    color: white;
    font-weight: 100;
}

.navbar {
    background-color: #D72323;
}

body {
    background-color: #303841;
}

.navbar-nav a:hover {
    color: #8f1313;
}